body{
    background-color: #FAF2DB;
    overflow-x: hidden;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
    position: relative;
    margin: 0 10% 0 10%;; 
    text-transform: uppercase;
    color: #000000;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    font-family: 'Segoe UI';
    .left{
        .link{
            display: inline-block; 
            margin-right: 2px;
            @media screen and (max-width: 940px){
                display: none;
            }
            a{
                text-decoration: none;
                color: #A5A5A5 ;
                
            }
            a#focus{
                color: #000000;
            }
        }
        margin-top: 30px;
        grid-column: 1/3;
        grid-row: 1;        
    }
    .title{
        grid-column: 2/3;
        grid-row: 1;
        text-align: center;
    }
    #menu{
        @mixin menu {
            width: 40px;
            height: 4px;
            background: black;
            top: 50%;
            position: absolute;
            transition: all 0.6s;
            transform-origin: 50% 50%;
        }
        .menu {
            @include menu;
            display: none;
            cursor:pointer;
            @media screen and (max-width: 940px){
                display: block;
            }
            &::after{
                @include menu;
                content: '';
                top: 10px;
                left: 0;
                position: absolute;
            }
            &::before {
                @include menu;
                content: '';
                top: -10px;
                left: 0;
                position: absolute;
            }
        }
        .open{
            transform: rotate(90deg);
            background: none;
        }
        .open::after{
            transform: translateY(-10px) rotate(-45deg);
        }
        .open::before{
            transform: translateY(10px) rotate(45deg);
        }
        ul{
            transition: 1s;
            display: none;
            opacity: 0;
            z-index: 200;
            position: absolute;
            margin-top: 25px;
            width: 110px;
            padding: 2%;
            background: white;
            bottom: -115px;
            list-style: none;
            
            li{
                padding-bottom: 5px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                opacity: 1;
                color:000000;
            }
            &:before{
                position: absolute;
                top: -15px;
                left: 5px;
                content: "";
                display: block;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 20px solid white;
                overflow: auto;
            }
        }
        .open-content{
            display: inline;
            opacity: 1;
        }
    }
}
section.main{
    .container{
        margin: 0 10% 0 10%;; 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        justify-items: center;
        grid-row-gap: 20px;
        .title{
            span{
                position: relative;
                top:25px;
                left: 175px;
                color: black;
            }
            position: relative;
            padding-top: 25px;
            right: 50px;
            text-transform: uppercase;
            font-size: 75px;
            font-weight: bold;
            color: grey;
            z-index: 100;

        }
        .square{
            position: relative;
            @media screen and (max-width: 785px){
               grid-column: 1 !important;
            }
            grid-column: 2/4;
            width: 500px;
            height: 500px;
            background: url('../images/live/square.jpg') center no-repeat;
            border: 6px solid #4D2E1A;
            p{
                margin:  0;
                color:#60C1F9;
                font-size: 25px;
                font-weight: bold;
                position: absolute; /* postulat de départ */
                top: 50%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%);
            }
        }
        
    }
    .link{
        padding: 50px 0 50px 0;
        margin: 0 10% 0 10%;; 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33.3%,1fr));
        justify-items: center;
        grid-row-gap: 20px;
        div{
            color: grey;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
footer{
    position: relative;
    .container{
        margin: 0 25% 0 25%;
        display: grid;
        margin-bottom: 5%;
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        grid-gap: 5%;
        .footer_block{
            position: relative;
            width: 70px;
            height: 70px;
            background: #4D2E1A;
            img{
                height: 50px;
                width: 50px;
                position: absolute; /* postulat de départ */
                top: 50%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
        }
    }
}