
body{
    background-color: #FAF2DB;
    overflow-x: hidden;
    height: 150vh;
    a{
        text-decoration: none;
    }
    font-family: 'Segoe UI'; 
}

nav {
    z-index: 100;
    position: relative;
    margin: 0 10% 0 10%;; 
    text-transform: uppercase;
    color: #000000;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    font-family: 'Segoe UI';
    .left{
        .link{
            display: inline-block; 
            margin-right: 2px;
            @media screen and (max-width: 940px){
                display: none;
            }
            a{
                text-decoration: none;
                color: #A5A5A5 ;
                
            }
            a#focus{
                color: #000000;
            }
        }
        margin-top: 30px;
        grid-column: 1/3;
        grid-row: 1;        
    }
    .middle{
        grid-column: 2/3;
        grid-row: 1;
        position: relative;
    }
    h1{
        position: absolute;
        margin: 0;
        font-size: 22px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #menu{
        @mixin menu {
            width: 40px;
            height: 4px;
            background: black;
            top: 50%;
            position: absolute;
            transition: all 0.6s;
            transform-origin: 50% 50%;
        }
        .menu {
            @include menu;
            display: none;
            cursor:pointer;
            @media screen and (max-width: 940px){
                display: block;
            }
            &::after{
                @include menu;
                content: '';
                top: 10px;
                left: 0;
                position: absolute;
            }
            &::before {
                @include menu;
                content: '';
                top: -10px;
                left: 0;
                position: absolute;
            }
        }
        .open{
            transform: rotate(90deg);
            background: none;
        }
        .open::after{
            transform: translateY(-10px) rotate(-45deg);
        }
        .open::before{
            transform: translateY(10px) rotate(45deg);
        }
        ul{
            transition: 1s;
            display: none;
            opacity: 0;
            z-index: 200;
            position: absolute;
            margin-top: 25px;
            width: 110px;
            padding: 2%;
            background: white;
            bottom: -115px;
            list-style: none;
            
            li{
                padding-bottom: 5px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                opacity: 1;
                color:000000;
            }
            &:before{
                position: absolute;
                top: -15px;
                left: 5px;
                content: "";
                display: block;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 20px solid white;
                overflow: auto;
            }
        }
        .open-content{
            display: inline;
            opacity: 1;
        }
    }
}
section#main{     
    margin: 0 10% 0 10%;   
        .container-block{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 10px;
            .block{
                position: relative;
                grid-column: auto;
                grid-row: auto;
                height: 600px;
                h3{
                    margin-left: auto;
                    margin-right: auto;
                    color: white;
                    font-size: 45px;
                    text-transform: uppercase;
                    font-family: 'Segoe UI';
                    font-weight: 500;
                    position: relative;
                    transition: .5s;
                    overflow: hidden;
                }
                .ui-click{
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 10%;
                        height: 75%;
                        width: 0%;
                        background-color: white;
                        animation: before 1.5s ease-out forwards;
                    }
                }
                @keyframes before {
                    from{
                        width: 0%
                    }
                    50%{
                        left: 0;
                        width: 100%;
                    }
                    100%{
                        left: 400px;
                    }
                }
                .center-parent{
                    align-items: center;
                    display: flex;
                }
                .backblack{
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    transition: 0.7s;
                    background-color: rgba($color: black, $alpha: 0);
                }
                &:hover .backblack{
                    background-color: rgba($color: black, $alpha: 0.6);

                }
            }
            #one{
                background: url('../images/first.jpg') no-repeat center;
            }
            #two{
                background-color: #F99860;
            }
            #three{
                background: url('../images/two.jpg') no-repeat center;
            }
            #four{
                background-color: #5D3924;
            }
            #five{
                background: url('../images/three.jpg') no-repeat center;
            }
            #six{
                background-color: #BB7248;
            }
        }
    padding-bottom: 10%;

    svg{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        // animation: scale 1.5s linear forwards;
    }
    @keyframes scale {
        to{
            transform: scaleX(8) scaleY(4);
        }
    }
}  
footer{
    position: relative;
    .container{
        margin: 0 25% 0 25%;
        display: grid;
        margin-bottom: 5%;
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        grid-gap: 5%;
        .footer_block{
            position: relative;
            width: 70px;
            height: 70px;
            background: #4D2E1A;
            img{
                height: 50px;
                width: 50px;
                position: absolute; /* postulat de départ */
                top: 50%; left: 50%; /* à 50%/50% du parent référent */
                transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            }
        }
    }
    #bonzai{
        margin-bottom: -35px;
        margin-left: -50px;
        height: auto;
        width: 35%;
        bottom: -100px;
        left: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        @media screen and (max-width: 1200px){
            width: 45%;
        }
        @media screen and (max-width: 785px){
            width: 70%;
        }
    }
}
#leaf{
    .leaf img{
        height: 54px;
        width: 50px;
    }
    .leaf-1{
        animation: falling 4s infinite;
    }
    .leaf-2{
        animation: falling2 4s infinite;
    }
    .leaf-0{
        animation: falling3 4s infinite;
    }
    @keyframes falling {
        0% {
            -webkit-transform:
                translate3d(300,0,0)
                rotate(0deg);
        }
        100% {
            -webkit-transform:
                translate3d(350px,1500px,0)
                rotate(90deg);
            opacity: 0;
        }
    }
    
    @keyframes falling3 {
         0% {
            -webkit-transform:
                translate3d(300,0,0)
                rotate(-20deg);
        }
        100% {
            -webkit-transform:
                translate3d(230px,1300px,0)
                rotate(-70deg);
            opacity: 0;
        }
    }
    
    @keyframes falling2 {
         0% {
            -webkit-transform:
                translate3d(300,0,0)
                rotate(90deg);
        }
        100% {
            -webkit-transform:
                translate3d(400px,1100px,0)
                rotate(0deg);
            opacity: 0;
        }
    }
}

#project{
    overflow: hidden;
    .stripe{
        position: absolute;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3,160px);
        height: 100%;
        width: 100%;
        left: 20%;
        display: grid;
        transform: skewY(-8deg) translate(-50%);
        span:nth-child(1){
            grid-area: 1 / 3 / span 1 / span 4;
            background-color: #F99860;
            animation-delay: .2s;
            animation-duration: .8s;
        }
        span:nth-child(2){
            grid-area: 3 / 7 / span 1 / span 8;
            background-color: #5D3924;
            margin-right: -500px;
            animation-duration: 2s;
        }
        span:nth-child(3){
            grid-area: 1 / 11 / span 1 / span 2;
            background-color: #A5A5A5;
            margin-right: -500px
        }
    }
}
#portfolio{
    margin-top: 5%;
    .stripe{
        padding-left: 15px;
        position: absolute;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5,160px);
        height: 100%;
        width: 100%;
        display: grid;
        transform: skewY(-8deg) translateX(-5%);
        span:nth-child(1){
            grid-area: 1 / 1 / span 4 / span 12;
            // background: linear-gradient(to left, #F99860 , #5D3924);
            animation-delay: .2s;
            animation-duration: .8s;
            margin: 0 -5%;
            background-color: #F99860;
        }
        span:nth-child(2){
            grid-area: 4 / 1 / span 1 / span 5;
            background-color: #5D3924;
            z-index: 10;
            animation-duration: 2s;
        }
        span:nth-child(3){
            grid-area: 1 / 10 / span 1 / span 2;
            background-color: #A5A5A5;
            margin-right: -500px
        }
    }
    .creativity{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5,160px);

        h3{
            text-align: center;
            z-index: 11;
            font-size: 60px;
            grid-area: 1 / 5 / span 1 / span 4;
            color: white;
            animation-delay: .7s;
            animation-duration: 2s;
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5,160px);    
            h3{
                grid-area: 1 / 1 / span 1 / span 4;
            }
        }
    }
}
section#presentation{
    .stripe{
        top: 0;
        position: absolute;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(9,200px);
        height: 100%;
        width: 100%;
        display: grid;
        span:nth-child(1){
            grid-area: 2 / 1 / span 2 / span 8;
            z-index: 12;
            // background: linear-gradient(to left, #F99860 , #5D3924);
            animation-delay: .2s;
            animation-duration: .8s;
            margin: 0 -5%;
            
            background-color: #F99860;
        }
        span:nth-child(2){
            grid-area: 4 / 1 / span 2 / span 7;
            background-color: #5D3924;
            z-index: 10;
            margin-left: -5%;
            animation-duration: 2s;
        }
        span:nth-child(3){
            grid-area: 1 / 8 / span 5 / span 7;
            background-color: #A5A5A5;
        }
        span:nth-child(4){
            grid-area: 1 / 6 / span 4 / span 5;
            // background-color: #A5A5A5;
        }
    }
    .content{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5,160px);
        .title{
            z-index: 1000;
            grid-area: 2 / 5 / span 1 / span 3;
            h1{
                font-size: 50px;
                animation-delay: .7s;
                animation-duration: 1.7s;    
            }
        }
    }
}